<h1>Editing train detail</h1>

<%= render "form", train_detail: @train_detail %>

<br>
<h1>New train detail</h1>

<h2>Sign up</h2>
<%= form_with model: @train_detail do |f| %>



  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :train_no %><br />
    <%= f.text_field :train_no %>
  </div>

  <div class="field">
  <%= f.label :departure_time %><br />
  <%= f.datetime_field :departure_time %>
  </div>


  <div class="field">
  <%= f.label :arrival_time %><br />
  <%= f.datetime_field :arrival_time %>
  </div>

  <div class="field">
  <%= f.label :source %><br />
  <%= f.text_field :source %>
  </div>

  <div class="field">
  <%= f.label :destination %><br />
  <%= f.text_field :destination %>
  </div>

<%= f.select :frequency, options_for_select(TrainDetail.frequencies.map{|k,v| [k.humanize.capitalize,k]}) %>
  <div class="field">
  <%= f.label :distance %><br />
  <%= f.text_field :distance %>
  </div>


  <div class="field">
  <%= f.label :fare %><br />
  <%= f.text_field :fare %>
  </div>

<div class="actions">
<%= f.submit "Submit" %>
</div>
<%end%>


<div>

  <%= link_to "Back to train details", train_details_path %>
</div>
