
<p style="color: green"><%= notice %></p>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  opacity:10;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>

<h1>Train details</h1>
<table style="width:100%; background-color:white">   
<thead>   
<tr>  
  <th>Train No</th> 
  <th>Name</th>   
  <th>Frequency</th>   
  <th>Source</th>   
  <th>Destination</th>
  <th>Arrival Time</th> 
  <th>Departure Time</th>
  <th>Distance</th>
  <th>Fare</th> 
  <th>Edit</th>  
</tr>   
</thead>   

<% @train_details.each do |train_detail| %>
    <tr>   
    <td><%= train_detail.train_no %></td> 
    <td><%= train_detail.name %></td> 
    <td><%= train_detail.frequency %></td> 
    <td><%= train_detail.source %></td> 
    <td><%= train_detail.destination %></td> 
    <td><%= train_detail.arrival_time %></td> 
    <td><%= train_detail.departure_time %></td> 
    <td><%= train_detail.distance %></td> 
    <td><%= train_detail.fare %></td> 
    <td><%= link_to "Edit", edit_train_detail_path(train_detail) %></td>
    </tr>
<%end%>
</table>
<%= link_to "New train detail", new_train_detail_path %>
<br>

<%= link_to "sign out", destroy_user_session_path, data: {turbo_method: :delete} %>

